* { 
	padding: 0;
	margin: 0;
}
.left {
	float:left;
}
.right {
	float: right;
}
.container {
	width: 100%;
}
.highlight {
	color: orange;
}
.hover-on {
	top: calc(100% - 50px);
	top: -webkit-calc(100% - 50px);
	top: -moz-calc(100% - 50px);
}
.hover-off {
	top: calc(100% - 15px);
	top: -webkit-calc(100% - 15px);
	top: -moz-calc(100% - 15px);
}
video {
	width: 100%;
	height: 100%;
}
button:active {
	border: none;
}
progress {
	height: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-radius: 5px;
	height: 5px;
}
progress::-moz-progress-bar {
	background-color: orange !important;
}
progress::-webkit-progress-bar {
	border-radius: 5px;
	height: 5px;
}
progress::-webkit-progress-value {
	background-color: orange;
	border-radius: 5px;
	height: 5px;
}
progress::-moz-progress-bar {
	border-radius: 5px;
	height: 5px;
}
progress::-moz-progress-value {
	background-color: orange;
	border-radius: 5px;
}
.video-container {
	overflow: auto;
	position: relative;
	margin: 0;
	padding: 0;
}
.controls {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	height: 40px;
}
#progress {
	width: 98%;
	display: block;
	margin: 0 auto 10px auto;
}
#play {
	background: url("../icons/play-icon.png") no-repeat;
	margin-left: 10px;
}
#play span {
	padding-left: 20px;
	color: white;
	font-size: 1.35em;
	font-weight: bold;
	margin-top: -15px;
	display: block;
}
.buttons {
	width: 97%;
	margin: 0 auto;
}
#volume {
	background: url("../icons/volume-on-icon.png") no-repeat;
}
#fullscreen {
	background: url("../icons/fullscreen-icon.png") no-repeat;
}
.controls button  {
	padding: 20px;
	border: none;
}
.transcript {
	width: 95%;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 1.2em;
}
.transcript p {
	padding-bottom: 15px;
	margin-top:0 ;
}